language: node_js
node_js:
  - "20"

cache:
  npm: true

install:
  - npm ci

script:
  - npm run build

before_deploy:
  - chmod +x deploy.sh

deploy:
  provider: script
  script: ./deploy.sh
  skip_cleanup: true
  on:
    branch: main
